<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ultimate_GM_Screen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Ultimate_GM_Screen.Properties.Settings>
            <setting name="TableTopAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDatabase" serializeAs="String">
                <value />
            </setting>
        </Ultimate_GM_Screen.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Markdig.Signed" publicKeyToken="870da25a133885f8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.30.0.0" newVersion="0.30.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>